@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/livvic-v8-latin-500.woff2') format('woff2'),
         url('../fonts/livvic-v8-latin-500.woff') format('woff');
  }

  @font-face {
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/livvic-v8-latin-500italic.woff2') format('woff2'),
         url('../fonts/livvic-v8-latin-500italic.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v8-latin-600.woff2') format('woff2'),
         url('../fonts/livvic-v8-latin-600.woff') format('woff');
  }
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v8-latin-700.woff2') format('woff2'),
         url('../fonts/livvic-v8-latin-700.woff') format('woff'); 
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Livvic', sans-serif;
    overflow-x: hidden;
}

.bootsrap{
    background-image: url("./../img/Group\ 8.png"), url("./../img/Group\ 8\ Copy.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.item-one, .item-two, .item-three, .item-four, .item-five, .item-six{
  position: relative;
}

.toggle{
  position: relative;
  left: 53%;
  top: -10%;
  transform: translate(-10%, 110%);
}

.label, input, .ico, .ico01, .ico02{
  position: absolute;
}

.ico{
    z-index: 3;
    width: 50px;
    height: 50px;
    background-color: #F67E7E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 34px;
    font-weight: bold;
    color: #012F34;
    padding-bottom: 5px;
    transition: .5s ease;
}

.ico01, .ico03{
  left: 15px;
  transition: .5s ease-in;
}

.ico02, .ico04{
  left: 20px;
  transition: .5s ease-in;
}

.input:checked ~ .ico{
  transform: rotate(45deg);
  background: #79C8C7;
}

.label .input:checked ~ .ico01{
  transform: translate(-100%, -100%);
}

.input:checked ~ .ico02{
  transform: translate(100%, -100%);
}